html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

body {
	background: #000;
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

#app {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

#app canvas {
	width: 100%;
	height: 100%;
	position: absolute;
}

#app #debug-label {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 12px;
	text-shadow: 0 0 1px black;
}

#app #game-interface-container {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

#app #game-interface-container #inventory-container {
	position: absolute;
	height: 571px;
	width: 594px;
	background: url('gui/inventory.png') no-repeat;
	visibility: hidden;
	max-height: 0;
	opacity: 0;
	left: 200px;
	top: 200px;
	transition: opacity 0.1s;
}

#app #game-interface-container #inventory-container.visible {
	visibility: visible;
	opacity: 1;
	max-height: 571px;
}

#app #game-interface-container #inventory-container #inventory-grid {
	position: absolute;
	right: 0;
	top: 68px;
	width: 184px;
	height: 451px;
}

#app #game-interface-container #inventory-container #inventory-grid .inventory-grid-item {
	display: block;
	float: left;
	width: 40px;
	height: 41px;
	position: relative;
	margin-right: 6px;
	margin-bottom: 5px;
}

#app #game-interface-container #inventory-container #inventory-grid .inventory-grid-item:hover {
	background: rgba(255,255,255,0.1);
}

#app #game-interface-container #inventory-container #inventory-grid .inventory-grid-item .item {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#app #game-interface-container #inventory-container .close-button {
	width: 23px;
	height: 22px;
	background: url('gui/close-button-hover.png') no-repeat;
	outline: 0;
	border: 0;
	position: absolute;
	left: 372px;
	top: 31px;
	opacity: 0;
	transition: opacity 0.1s;
	cursor: pointer;
}

#app #game-interface-container #inventory-container .player {
	position: absolute;
	background-repeat: no-repeat;
	width: 82px;
	height: 150px;
	left: 165px;
	top: 140px;
}

#app #game-interface-container #inventory-container .close-button:hover {
	opacity: 1;
}

#app #game-interface-container #inventory-container #gold-label {
	font-size: 12px;
	position: absolute;
	width: 130px;
	right: 15px;
	color: #FFBE20;
	bottom: 24px;
	font-weight: 600;
}

#app #game-interface-container #inventory-container .inventory-title-label {
	position: absolute;
	width: 125px;
	height: 20px;
	color: #fff;
	font-size: 12px;
	right: 50px;
	top: 39px;
	text-shadow: 0 -1px 1px #000;
}

#app #game-interface-container #inventory-container .header {
	display: block;
	position: absolute;
	width: 320px;
	height: 50px;
	color: #fff;
	font-weight: 600;
	text-align: center;
	left: 50px;
	line-height: 50px;
	font-size: 14px;
	cursor: move;
	text-shadow: 0 -1px 1px #000;
}

#app #game-interface-container #inventory-container .header .player-details {
	margin-left: 10px;
	font-weight: normal;
	color: #ddd;
}

#app #game-interface-container #mini-map-container {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 200px;
	height: 238px;
}

#app #game-interface-container #mini-map-container #map {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 15px;
	left: 15px;
	background-color: black;
	background-repeat: no-repeat;
}

#app #game-interface-container #mini-map-container #frame {
	display: block;
	width: 200px;
	height: 238px;
	background: url('gui/mini-map.png') no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

#app #game-interface-container #bottom-interface {
	position: absolute;
	bottom: 0;
	transform: translateX(-50%);
	left: 50%;
	width: 958px;
	height: 120px;
	background: url('gui/bottom-interface.png') no-repeat;
}

#app #game-interface-container #bottom-interface #character-button {
	position: absolute;
	border: 0;
	width: 18px;
	height: 18px;
	background: url('gui/character-button-hover.png') no-repeat 3px 3px;
	outline: 0;
	left: 163px;
	top: 16px;
	opacity: 0;
	transition: opacity 0.1s;
	cursor: pointer;
}

#app #game-interface-container #bottom-interface #character-button:hover {
	opacity: 1;
}

#app #game-interface-container #bottom-interface #exp-bar {
	width: 337px;
	position: absolute;
	height: 13px;
	top: 45px;
	left: 211px;
	background: url('gui/exp-bar.png') no-repeat;
}


#app #game-interface-container #hp-bar {
	position: absolute;
	bottom: 4px;
	left: 72px;
	width: 99px;
	height: 102px;
	background: url('gui/hp-bar.png') bottom no-repeat;
}

#app #game-interface-container #mp-bar {
	position: absolute;
	bottom: 4px;
	right: 73px;
	width: 99px;
	height: 102px;
	background: url('gui/mp-bar.png') bottom no-repeat;
}

#app #game-interface-container #coords-label {
	display: block;
	position: absolute;
	color: #fff;
	font-size: 10px;
	top: 205px;
	right: 22px;
	width: 170px;
	text-align: center;
	z-index: 5;
	letter-spacing: 1px;
	text-shadow: 0 0 10px #000;
}

#app #game-interface-container #coords-label span {
	font-size: 14px;
	font-weight: 600;
}

#app #game-interface-container #coords-label em {
	display: block;
	font-style: normal;
}

#app #game-interface-container #bottom-interface #level-label {
	position: absolute;
	width: 20px;
	height: 20px;
	color: #fff;
	font-size: 10px;
	right: 121px;
	text-align: center;
	bottom: 85px;
}

#app #game-interface-container #bottom-interface #chat-container {
	position: absolute;
	left: 210px;
	top: 93px;
	width: 608px;
	height: 130px;
}

